{% extends 'base.html' %}


{% block content %}
    <div class="container row">
        <form method="POST" class='input-field col s6 offset-s3' >
            {% csrf_token %}
            <fieldset>
                <legend>
                    Log In:
                </legend>
                <div class="forms">
                    {{form.as_p}}
                </div>
            </fieldset>
              <button class="btn waves-effect waves-light green accent-2" type="submit" name="action">Log In

              </button>
            <div>
                <small>
                    Make an account  <a class='blue-text' href="{% url 'users:register' %}">Register</a><br>
                    Forgot your password?  <a class='blue-text' href="{% url 'password_reset' %}">Reset Password</a>
                </small>
            </div>
        </form>

    </div>
{% endblock  %}
