{% extends 'base.html' %}


{% block content %}
    <div class="container row">
        <form method="POST" class='input-field col s6 offset-s3' >
            {% csrf_token %}
            <fieldset>
                <legend>
                    Reset Password:
                </legend>
                {{form}}
            </fieldset>
            <br>
              <button class="btn waves-effect waves-light green accent-2" type="submit" name="action">Reset Password
                <i class="material-icons right">send</i>
              </button>
            <br><br>
        </form>

    </div>
{% endblock  %}
