{% extends 'base.html' %}

{% block content%}

<div class='timeline'>
  <h3>Timeline</h3>
</div>
  <br>


  {% for post in group_posts %}
  <div class='timelinecontainer'>

        <div style="line-height: 20px;" class = 'timelineposition'>
          <div class="small hoverable col m4 s6">
            {%if post.is_in_progress%}
              <div class=" card {{post.user.userinfo.color}}">
            {%else%}
              <div class="card grey lighten-1">
            {%endif%}
              <div class="card-content white-text">
                <p>{{post.title}}</p>
              </div>
              <div style="line-height: 5px; display: inline-block; " class="card-action">
                <p>Due: {{post.due_date}} </p>
                <p class=' black-text '>{{post.user}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

      {%endfor%}




{% endblock %}
